
<section>
  <div>
    <h1>Hey, Soy Ivan Pacheco</h1>
    <span>Software Developer</span>
    <div>
      #redes
    </div>
  </div>
  <div>
    <p>
      Convertir ideas en experiencias digitales interactivas y fluidas, combinando desarrollo <span>frontend</span> de vanguardia con soluciones <span>backend</span> robustas
      para crear productos completos y escalables.
    </p>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nam repellendus nostrum eligendi animi expedita quos facilis nemo, neque corrupti, sequi consequuntur est ex quaerat delectus dolorum. At, ut autem!
    </span>
    <div class="w-full static">

    </div>
  </div>
</section>
