---
interface NavItem {
  label: string;
  href: string;
  icon: string;
}

const navItems: NavItem[] = [
  {
    label: "Home",
    href: "#home",
    icon: ""
  },
  {
    label: "Projects",
    href: "#projects",
    icon: ""
  },
  {
    label: "Contact",
    href: "#contact",
    icon: ""
  },
]

---

<div class="flex justify-center w-full">
  <nav class="fixed flex left-0 right-0 z-[100] bg-[#1414149c] border border-[var(--white-icon-tr)] backdrop-blur-xl transition-all md:top-0 md:bottom-auto bottom-0 md:w-[33rem] rounded-t-2xl md:rounded-full md:mt-6 md:justify-self-center">  
    <div class="container mx-auto flex justify-center items-center p-3">
      <ul class="flex w-full justify-between md:space-x-6 md:justify-center md:gap-12 gap-6">
        {
          navItems.map((item) => (
            <li class="flex-1 md:flex-none">
              <a
                href={item.href}
                class="flex flex-col items-center gap-1 text-[var(--white-icon)] transition-colors text-xs md:text-base"
              >
                <span class="md:hidden flex items-center justify-center w-6 h-6">
                  <fragment set:html={item.icon} />
                </span>
                <span class="hidden md:inline-block">{item.label}</span>
                <span class="md:hidden">{item.label}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>
