<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
    <div id="logo">
        <a href="/" class="text-2xl font-bold">
            <span class="text-white">DEV</span>
            <span class="text-gray-400">Tolds</span>
        </a>
    </div>
    
    <nav>
        <ul class="flex space-x-8 bg-red-950 p-3 rounded-4xl backdrop-blur-sm font-bold">
            <li>
                <a href="/" class="text-white hover:text-gray-400 transition-colors duration-300">
                    Home
                </a>
            </li>
            <li>
                <a href="/about" class="text-gray-300 hover:text-gray-400 transition-colors duration-300">
                    About
                </a>
            </li>
            <li>
                <a href="/contact" class="text-gray-300 hover:text-gray-400 transition-colors duration-300">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
    
    <div id="nav-link-social" class="flex space-x-4">
        <a href="#" class="text-gray-300 hover:text-gray-400 transition-colors duration-300">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
            </svg>
        </a>
        <a href="#" class="text-gray-300 hover:text-gray-400 transition-colors duration-300">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-2m-4-1v8m0 0l3-3m-3 3L9 8m-5 5h2.586a1 1 0 01.707.293l2.414 2.414a1 1 0 00.707.293h3.172a1 1 0 00.707-.293l2.414-2.414a1 1 0 01.707-.293H20"/>
            </svg>
        </a>
    </div>
</header>
