---
const navItems = [
    {
        title: 'Experencia',
        label: 'experience',
        url: '/#experience',
    },
    {
        title: 'Projectos',
        label: 'projects',
        url: '/#projects',
    },
    {
        title: 'Sobre mi',
        label: 'about me',
        url: '/#aboutme',
    },
    {
        title: 'Contacto',
        label: 'contact',
        url: '/#ivanpachecoleo23@gmail.com',
    },
];
---

<header class="fixed">
    <nav>
        {
            navItems.map(({ title, label, url }) => (
                <a
                    class=""
                >
                    {title}
                </a>
            ))
        }
    </nav>
</header>
