---
import perfile from '../assets/perfile.jpg'
import Bluesky from '../Icons/Bluesky.astro'
import Github from '../Icons/Github.astro'
import Linkedln from '../Icons/Linkedln.astro'
---

<section id="hero" class="px-4">
    <div class="max-w-5xl mx-auto flex flex-col items-center gap-4 py-20 md:py-32 text-center">
        <img src={perfile.src} alt="Profile picture of Ivan Pacheco" class="w-32 h-32 rounded-full" />
        <h1 class="text-4xl font-bold">
            Hello👋, my name is <span class="text-blue-500">Ivan Pacheco</span>
        </h1>
        <p class="mt-2 text-lg text-gray-400">
            Como desarrollador Fullstack, me dedico a combinar diseño y funcionalidad para crear <br/> digitales impactantes y accesibles.
        </p>
        <ul class="flex gap-5">
            <li>
                <a href="https://www.linkedin.com/in/ivan-pacheco-59072a349/" target="_blank" rel="noopener noreferrer">
                    <Linkedln class="w-7 h-7 hover:scale-110 transition-transform" />
                </a>
            </li>
            <li>
                <a href="https://github.com/leonardops23" target="_blank" rel="noopener noreferrer">
                    <Github class="w-7 h-7 hover:scale-110 transition-transform" />
                </a>
            </li>
            <li>
                <a href="https://bsky.app/profile/leonardps.bsky.social" target="_blank" rel="noopener noreferrer">
                    <Bluesky class="w-7 h-7 hover:scale-110 transition-transform" />
                </a>
            </li>
        </ul>
    </div>
</section>
