<div class="bg-amber-100">
    <div>
        <p>Ivan Pacheco
            <img src="/public/perfile.jpg"
            alt="perfile"
            class="rounded-full w-13 h-13"
            >
        </p>
    </div>
    <h1>

    </h1>
    <p>

    </p>
</div>